html,
body {
  height: 100%;
}

body {
  background-color: var(--background-colour);
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--nav-colour);
  font-size: 12px;
  height: 44px;
  padding: 10px;
}

.wrapper {
  flex: 1 0 auto;
}
