.product {
  margin: 15px;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  color: $colour-secondary;
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 263px;

  &--spesial::before {
    @extend .product;
    background: $colour-speciaal;
    color: $colour-primary;
  }

  &--spesial--two::before {
    @extend .product;
    background: $colour-speciaal;
    color: $colour-background;
  }
}
